.main-container {
  min-height: 100dvh;
  min-width: 100dvw;
  padding: 1rem 1rem 1rem 4rem;
  background-image: linear-gradient(to right, #b1f3dd, #f7eeee, #b1f3dd);
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .main-container {
    padding-left: 2rem;
  }
}
